.previousButton{
    height: 35px;
    margin-right: 1px;
}

.nextButton{
    height: 35px;
    margin-left: 1px;
}

.nextButton button{
    border-radius: 5px;
    font-size: small;
    width: 100px;
}

.previousButton button{
    border-radius: 5px;
    font-size: small;
    width: 100px;
}