.rowHeader{
    color: white;
    background-color: rgb(57, 99, 85);
    position: sticky;
    top: 0;
    left: 5px;
    right: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: medium;
}
.rowElements{
    font-size: medium;
    margin:0px;
}
.element{
    border-radius: 0px;
    margin: 5px;
    padding-left: 5px;
    box-shadow: 1px 1px 1px 1px rgb(136, 136, 136);
}
.element:hover{
    background-color: #d9d9d9;
}