.rowHeader{
    color: white;
    background-color: rgb(57, 99, 85);
    position: sticky;
    top: 0;
    padding: 10px;
    font-weight: bold;
}
.rowElements{
    padding: 5px;
}
.element{
    
    border-radius: 5px;
    margin: 5px;
    box-shadow: 1px 1px 1px 1px rgb(136, 136, 136);
}
.element:hover{
    background-color: #d9d9d9;
}
