.mainRow{
    align-items: center;
}
.bump button {
    width: 80px;
    padding: 10px;
    border-radius: 5px;
}
.itemName{
    font-weight: bold;
}
.description{
    font-size: small;
    font-weight: normal;
}

.ponum{
    font-size: x-small;
}

@media (min-width: 1000px) {
}

