.doc{
    margin: 5px;
    text-align: start;
    color: white;
    font-size: small;
    font-weight: bolder;
}

.docValue{
    font-weight: normal;
}

.tabl{
    margin: 10px;
    text-align: start;
    color: white;
    font-size: small;
    font-weight: bolder;
}

.tablValue{
    font-weight: normal;
}

.ponum{
    font-size: small;
}

.timeLeft{
    color: white;
    text-align: center;
}

.rec{
  color: black;  
  margin-left: 40px;
  font-size: small;
  font-weight: bolder;
}

.mainHeader{
    padding: 0px;
    border-bottom: 3px solid rgb(237, 241, 2);
}

.Header{
    align-items: center;
    display: flex;
    border-radius: 5px 5px 0px 0px;
    flex-direction: row;
}

.itemList{
    height:230px;
    width: 100%;
    overflow:auto;
}

.bump:disabled{
    background-color: #bcbcbc;
    color: black;
}

.bump{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: small;
    justify-content: center;
    width: 80px;
    height: 30px;
}

.col-lg{
    margin:0px;
}