.itemName{
    margin-left: 5px;
    text-align: start;
}

.itemQty{
    margin-right: 5px;
    text-align: end;
}

.mainReady{
    display: flex;
    flex-direction: column-reverse;
    font-size: small;
    font-weight: bold;
    background-color: rgb(160, 233, 160);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.mainNotReady{
    display: flex;
    flex-direction: column-reverse;
    font-size: small;
    font-weight: bold;
    border-bottom: 2px solid rgb(0, 0, 0);
}

@media (min-width: 260px) {
    .mainNotReady {
      flex-direction: row;
      justify-content: space-between;
    }
    .mainReady{
        flex-direction: row;
        justify-content: space-between;
    }
}