.cardList {
  background: white;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px; 
  grid-gap: 10px;
}

.item {
  box-shadow: 1px 1px 1px 1px rgb(136, 136, 136);
  border-radius: 5px;
  background: white;
  flex: 1 0 25%;
  margin: 5px;
  padding: 0px;
  align-self: center;
}

@media screen and (min-width: 350px){
  .cardList {
    background: white;
    display: grid;
    grid-template-columns: 300px; 
    grid-gap: 10px;
  } 
}

@media screen and (min-width: 650px){
  .cardList {
    background: white;
    display: grid;
    grid-template-columns: 300px 300px; 
    grid-gap: 10px;
  } 
}

@media screen and (min-width: 960px){
  .cardList {
    background: white;
    display: grid;
    grid-template-columns: 300px 300px 300px; 
    grid-gap: 10px;
  } 
}

@media screen and (min-width: 1265px){
  .cardList {
    background: white;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px; 
    grid-gap: 10px;
  } 
}